:root{
/*Light Theme*/
--very-Light-Gray: hsl(0, 0%, 98%);
--very-Light-Grayish-Blue: hsl(236, 33%, 92%);
--light-Grayish-Blue: hsl(233, 11%, 84%);
--dark-Grayish-Blue: hsl(236, 9%, 61%);
--very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

/*Dark Theme*/

--very-Dark-Blue: hsl(235, 21%, 11%);
--very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--light-Grayish-Blue: hsl(234, 39%, 85%);
--light-Grayish-Blue: hsl(236, 33%, 92%);
--dark-Grayish-Blue: hsl(234, 11%, 52%);
--very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--very-Dark-Gray-Blue: hsl(237, 14%, 26%);


--bg-todo-light: var(--very-Light-Gray);

--bg-todo-dark: var(--very-Dark-Gray-Blue);

--color-letter: var(--light-Grayish-Blue);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
 --bg: var(--very-Dark-Blue);
 --fg: var(--very-Dark-Gray-Blue);
 --top-img: url(https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
 --toggle-btn:  url(/images/icon-sun.svg);
 

 background: var(--bg);
 color: var(--fg);
 transition:2ms
}

.toggle-btn{
    background-size: cover;
    height: 30px;
    width:30px;
}

.light {
    --top-img: url(https://images.unsplash.com/photo-1607666340313-493c5017a3a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    --toggle-btn: url(/images/icon-moon.svg);
    --bg: var(--light-Grayish-Blue);
    --fg: var(--very-Light-Gray);
}


.top-img {
    width:100%;
    height: 225px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--top-img)
}

.toggle-btn{
    background: var(--toggle-btn);
}

main{
    position: absolute;
    top:0;
    height: 100vh;
    width:100%;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    font-weight: 700;
}

.type-todo{
    margin-top: 24px;
    width: 100%;
    background-color: var(--fg);
    padding: 10px;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
}

.type-todo, .todos {
 font-weight: 400;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--dark-Grayish-Blue)
}

.todo-input{
background-color: transparent;
width:100%;height: 100%;
font-size: 20px;
border:none;
color: var(--color-letter);
caret-color: hsl(220, 98%,61%);
}

.light .todo-input{
--color-letter: var(--very-Dark-Grayish-Blue);
}

:is(.todo-input):focus {
    outline: none;
  }

.todos{
    margin-top: 24px; 
    color: var(--color-letter);
}

.todo {
    width:100%;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background: var(--bg-todo-dark);
    color: var(--color-letter);
}

.light .todo{
    --color-letter: var(--very-Dark-Grayish-Blue);
    background: var(--bg-todo-light);
}

.todo input[type="checkbox"]{
    display:none;
}

.active {
    position: relative;
    background: linear-gradient( hsl(192, 100%, 67%), hsl(280,87%,65%) )
}

.active::before {
    content: ✔;
    position: absolute;
    width: 10px;
    height: 10px;
}

.cross {
    opacity: 0.1;
}

.todo:hover .cross{
    opacity: 1;
}

.remarks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    background: var(--bg-todo-dark);
    color: var(--color-letter);
    height: 55px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.light .remarks{
    --color-letter: var(--very-Dark-Grayish-Blue);
    background: var(--bg-todo-light);
}
.remarks div{
    padding: 0 10px;
    background: var(--bg-todo-dark);
    color: var(--color-letter);
}

.light .remarks div{
    --color-letter: var(--very-Dark-Grayish-Blue);
    background: var(--bg-todo-light);
}


.filters{
    width:100%;
    background-color: var(--very-Dark-Gray-Blue) ;
    height: 55px;
    position: absolute;
    bottom: -70px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.all, .activated, .completed, .completedCountDisplay{
    cursor: pointer ;
}

.filterActive {
    color: hsl(220, 98%,61%) !important; 
}

.attribution { 
    position: absolute;
    background: var(--bg-todo-dark);
    width:100%;
    font-size: 14px; 
    padding: 2px;
    color: var(--color-letter);
    text-align: center; 
    bottom: 0; 
}

.light .attribution{
    --color-letter: var(--very-Dark-Grayish-Blue);
    background: var(--bg-todo-light);
}
.attribution a {
     color: hsl(228, 73%, 68%); 
    }

@media screen and (min-width: 800px) {
    .header, .type-todo, .todos, .remarks {
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }
    .filters {
        top:0;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        width:50%;
        background-color: transparent;
    }
    .top-img{
        width: 100%;
    }
}
